<h1> <%= @merchant.name %> Bulk Discounts Index</h1> 

<div id="bulk-discount-list">
    <% @bulk_discounts.each do |bulk_discount| %>
        <div id="bulk-discount<%= bulk_discount.id %>">
            <p>Discount Deal: <b><%= bulk_discount.discount %></b>% off at <b><%= bulk_discount.threshold_amount %></b> items! 
            <%= link_to "View Discount Information",  "/merchants/#{@merchant.id}/bulk_discounts/#{bulk_discount.id}" %></p>
        </div>
    <% end %>
</div>

<div id="create-bulk-discount">
    <h3><%= link_to "Create a New Bulk Discount", new_merchant_bulk_discount_path(@merchant) %></h3>
</div>