<h1> <%= @merchant.name %> Bulk Discounts Index</h1> 

<div id="bulk-discount-list">
    <% @bulk_discounts.each do |bulk_discount| %>
        <div id="bulk-discount<%= bulk_discount.id %>">
            <p><b>Discount Deal: <%= bulk_discount.discount %>% off at <%= bulk_discount.threshold_amount %> items!</b> 
            <b><%= link_to "View Discount Information",  "/merchants/#{@merchant.id}/bulk_discounts/#{bulk_discount.id}" %></b>
            <b><%= link_to "Delete This Discount", "/merchants/#{@merchant.id}/bulk_discounts/#{bulk_discount.id}", method: :delete %></b></p>
        </div>
    <% end %>
</div>

<div id="create-bulk-discount">
    <h3><%= link_to "Create a New Bulk Discount", new_merchant_bulk_discount_path(@merchant) %></h3>
</div>